prefix=C:\ProgramData\npm
script-shell=C:\Program Files\git\bin\bash.exe
//npm.pkg.github.com/:_authToken=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
@OWNER:registry=https://npm.pkg.github.com/